<h1 class="title">My Points</h1>
<% total=0%>
<% @events.each do |event| %>
    <% total=event[:active_record].points+total%>
<% end %>
<h3 style="margin-left: 6em;"> Total Points: <%= total %></h3>
<div class="page-margins">
	<div class="table-responsive">
	  <table class="table table-striped">
		  <tr>
		    <th class="col-sm-1">Event/Meeting</th>
		    <th class="col-sm-1">Date</th> 
		    <th class="col-sm-1">Points</th>
		    <th class="col-sm-1"></th>
		  </tr>
			<% @events.each do |event| %>
				<tr>
				    <td> <%= event[:event].name %> </td>
				    <td> <%= event[:event].date.strftime("%B %d, %Y")%> </td>
				    <td> <%= event[:active_record].points %> </td>
				    <td>
				    	<%= link_to  "View Event", points_path(:view_event => event[:event].id), class: "btn btn-default" %>
				    </td>
				  </tr>
			<% end %>
		</table>
	</div>
</div>

<br><br>

<% if @view_event.present? %>

<div class="event-card">
        <div class="row">
            <div class="col-sm-9">
                <div class="row col-sm-12">
                    <h3 id="event_title"><%= @view_event.name %></h3>
                </div>
                <div class="row col-sm-12">
                    <b>Time: </b>
                    <div class="event-item-margin">
                        <%= @view_event.start_time.strftime("%I:%M %p")%>
                        -
                        <%= @view_event.end_time.strftime("%I:%M %p") %>
                    </div>
                </div>
                <div class="row col-sm-12">
                    <b>Date: </b>
                    <div class="event-item-margin">
                        <%= @view_event.date.strftime("%B %d, %Y") %>
                    </div>
                </div>
                <div class="row col-sm-12">
                    <b>Contact: </b>
                    <div class="event-item-margin">
                        <%= @view_event.contact %>
                    </div>
                </div>
                <b>Description: </b>
                <div class="row col-sm-12">
                    <%= @view_event.description %>
                </div>
            </div>
            
            <div class="col-sm-3">
                <div class="row col-sm-12">
                    Points: 
                    <%= @view_event.max_points %>
                </div>
                <div class="row col-sm-12 event-image">
                    <!-- images are stored on cloudinary -->
                    <%= cl_image_tag(@view_event.image, class: "img-thumbnail") %>
                </div>
                <div class="row col-sm-12">
                    <a href="" id="address" class="address" target="_blank"><%= @view_event.address %></a>
                </div>
            </div>
        </div>
    </div>
<% end %>

<script>
// couldnt get the script to run from any of the coffee files 
$(document).ready(function(){
    var $editItem, $elements, $link, $pluslink, i;
    $elements = document.getElementsByClassName('address');
    i = 0;
    while (i < $elements.length) {
        $editItem = $elements[i];
        $link = $editItem.text;
        $pluslink = $link.replace(/\s+/g, '+');
        $elements[i].href = 'https://www.google.com/maps?q=' + $pluslink;
        $elements[i].text = 'Google Maps Link';
        i++;
    }
});
</script>