<!-- Latest compiled and minified CSS -->


<!-- Latest compiled and minified JavaScript -->



<h1>Index</h1>
<% @all_events.each do |event| %>
    <div class="row">
    <div class="col-sm-6"><%= event.name %></div>
    <div class="col-sm-6"><%= event.address %></div>
    </div>
    <%= event.description %><br>
    <%= event.start_time %><br>
    <%= event.end_time %><br>
    <%= event.capacity %><br>
    <%= event.max_points %><br>
    <%= event.meeting %><br>
    <%= event.contact %><br>
    <br>
<% end %>
