<h1 class="title">Upcoming Events</h1>
<% @all_events.each do |event| %>
    <div class="event-card">
        <div class="row">
            <div class="col-sm-9">
                <div class="row col-sm-12">
                    <h3><%= event.name %></h3>
                </div>
                <div class="row col-sm-12">
                    <b>Time: </b>
                    <div class="event-item-margin">
                        <%= event.start_time.strftime("%I:%M %p")%>
                        -
                        <%= event.end_time.strftime("%I:%M %p") %>
                    </div>
                </div>
                <div class="row col-sm-12">
                    <b>Date: </b>
                    <div class="event-item-margin">
                        <%= event.date.strftime("%B %d, %Y") %>
                    </div>
                </div>
                <div class="row col-sm-12">
                    <b>Contact: </b>
                    <div class="event-item-margin">
                        <%= event.contact %>
                    </div>
                </div>
                <b>Description: </b>
                <div class="row col-sm-12">
                    <%= event.description %>
                </div>
            </div>
            
            <div class="col-sm-3">
                <div class="row col-sm-12">
                    <!--<%= event.max_points %>-->
                    Points: 12
                </div>
                <div class="row col-sm-12">
                    Spots Remaining: 12
                    <!--<%= event.capacity %>-->
                </div>
                <div class="row col-sm-12 event-image">
                    <%= image_tag(event.image, class: "img-thumbnail") %>
                </div>
                <div class="row col-sm-12">
                     <a href="" id="address" class="address" target="_blank"><%= event.address %></a>
                </div>
                <div class="row col-sm-12">
                     <!--if admin -->
                    <div class="row col-sm-12">
                        <div class="col-xs-6 event-btn">
                            <button type="button" class="btn btn-default btn-block">Edit</button>
                        </div>
                        <div class="col-xs-6 event-btn">
                            <button type="button" class="btn btn-danger btn-block">Delete</button>
                        </div>
                    </div>
                    <div class="row col-xs-12 event-btn">
                            <button type="button" class="btn btn-default btn-block">View Sign Ups</button>
                    </div>
                        
                        
                        
                        
                    <!-- "else" -->
                    <!--<div> Remove me btn </div>-->
                    <!--<div class="col-sm-12 event-btn">-->
                    <!--    <button type="button" class="btn btn-danger btn-block">Remove Me</button>-->
                    <!--</div>-->
                    
                    
                    
                    
                </div>
            </div>
        </div>
    </div>
    <br>
<% end %>

<script>
document.ready() = googleMapLink;
</script>