<h1 class="title">Upcoming Events</h1>
<% @all_events.each do |event| %>
    <div class="event-card">
        <div class="row">
            <div class="col-sm-9">
                <div class="row col-sm-12">
                    <h3><%= event.name %></h3>
                </div>
                <div class="row col-sm-12">
                    <b>Time: </b>
                    <div class="event-item-margin">
                        <%= event.start_time.strftime("%I:%M %p")%>
                        -
                        <%= event.end_time.strftime("%I:%M %p") %>
                    </div>
                </div>
                <div class="row col-sm-12">
                    <b>Date: </b>
                    <div class="event-item-margin">
                        <%= event.date.strftime("%B %d, %Y") %>
                    </div>
                </div>
                <div class="row col-sm-12">
                    <b>Contact: </b>
                    <div class="event-item-margin">
                        <%= event.contact %>
                    </div>
                </div>
                <b>Description: </b>
                <div class="row col-sm-12">
                    <%= event.description %>
                </div>
            </div>
            
            <div class="col-xs-3">
                <div class="row col-xs-12">
                    <!--<%= event.max_points %>-->
                    Points: 12
                </div>
                <div class="row col-xs-12">
                    Spots Remaining: 12
                    <!--<%= event.capacity %>-->
                </div>
                <div class="row col-xs-12 event-image">
                    <%= image_tag(event.image, class: "img-thumbnail") %>
                </div>
                <div class="row col-xs-12">
                     <a href="" id="address" class="address"><%= event.address %></a>
                </div>
                
                <div id="event-buttons">
                    <!-- if admin -->
                    <div class="row">
                        <div class="col-xs-6 event-btn">
                            <button type="button" class="btn btn-default btn-block">edit btn</button>
                        </div>
                        <div class="col-xs-6 event-btn">
                            <button type="button" class="btn btn-danger btn-block">delete btn</button>
                        </div>
                    </div>
                        <div class="row col-xs-12 event-btn">
                                <button type="button" class="btn btn-default btn-block">view sign ups</button>
                        </div>
                    <!-- "else" -->
                    <!--<div> Remove me btn </div>-->
                </div>
            </div>
        </div>
    </div>
    <br>
<% end %> 

<script>
$(document).ready(function(){
       
    // var $editItem = $("#address");
    // var $link = $editItem.html();
    // var $pluslink = $link.replace(/\s+/g, '+');
    // document.getElementById("address").href='https://www.google.com/maps?q=' + $pluslink;

    // $("#address").text("Google Maps Link");
});
</script>
