<%= form_for :event, url: events_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  
  <p>
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </p>
  
  <p>
    <%= f.label :meeting %><br>
    <input type="radio" name="meeting" value=1> Yes
    <input type="radio" name="meeting" value=0> No
    </p>
  
  <p>
    <%= f.label :UIN %><br>
    <%= f.text_area :UIN %>
  </p>
  
  <p>
    <%= f.label :date %><br>
    <%= f.text_area :date %>
  </p>
  
  <p>
    <%= f.label :start_time %><br>
    <%= f.text_area :start_time %>
  </p>
  
  <p>
    <%= f.label :end_time %><br>
    <%= f.text_area :end_time %>
  </p>
  
  <p>
    <%= f.label :max_points %><br>
    <%= f.text_area :max_points %>
  </p>
  
  <p>
    <%= f.label :contact %><br>
    <%= f.text_area :contact %>
  </p>
  <p>
    <%= f.label :image %>
    <%= f.text_field :image %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

 <%= form_tag '/img_upload/create', { :multipart => true } do %>  
    <p>
      <%= file_field_tag 'upload[file]'  %>
    </p>
    <p>
        <%= submit_tag "Upload" %>
    </p>
  <% end %>
  
  <script>
    document.getElementById("upload_file").onchange = function(){
      document.getElementById('event_image').value = document.getElementById('upload_file').value 
    }
  </script>
  