<p>DELETE ME SOON</p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>

<p>
  <strong>Meeting:</strong>
  <%= @event.meeting %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Start Time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>End Time:</strong>
  <%= @event.end_time %>
</p>

<p>
  <strong>Max Points:</strong>
  <%= @event.max_points %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @event.contact %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@event.image) %>
</p>
