<!-- redirects members trying to "hack" into the admin pages -->
<%= member_redirect() %>

<%event=Event.find(params[:event_id]) %>
<%user=User.find_by(UIN: event.contact) %>
<h1 class="title">Sign Up List for <%= event.name %></h1>
<p class="page-margins"> Date: <%= event.date.strftime("%B %d, %Y") %> <br>
    Time: <%= event.start_time.strftime("%I:%M %p")%> - <%= event.end_time.strftime("%I:%M %p") %> <br>
    Contact: <%= user.email %> <br>
    <b>Points : <%= event.max_points %>  <br>
    Spots Remaining: <%= event.capacity-(Attendance.where(event_id: params[:event_id], wait_listed: false).count)%></b><br>
</p>
<h2 class="title"> Going List: </h2>
<div class="page-margins">
	<div class="table-responsive">
	  <table class="table table-striped">
	  	<thead class="going-list">
		  <tr>
		    <th class="col-sm-2">UIN</th>
		    <th class="col-sm-2">Name</th> 
		    <th class="col-sm-1">Needs Ride</th>
		    <th class="col-sm-1">Officer</th>
		    <th class="col-sm-8">Comment</th>
		  </tr>
		  </thead>
			<% @attendees.each do |attendee| %>
			    <% if attendee[:active_record].wait_listed==false %>
    				<tr>
    				    <td> <%= attendee[:attendee].UIN %> </td>
    				    <td> <%= attendee[:attendee].name %> </td>
    				    <td>
	    				    <% if attendee[:active_record].car_ride %>
	                  			<span class="glyphicon glyphicon-ok" style="color: green;"></span>
	                		<% end %>
                		</td>
    				    <td>
	    				    <% if attendee[:attendee].officer %>
	                  			<span class="glyphicon glyphicon-ok" style="color: green;"></span>
	                		<% end %>
                		</td>
    				    <td> <%= attendee[:active_record].comments %> </td>
    				</tr>
    			<% end %>
			<% end %>
		</table>
	</div>
</div>
<h2 class="title"> Wait List: </h2>
<div class="page-margins">
	<div class="table-responsive">
	  <table class="table table-striped">
	  	<thead class="wait-list">
		  <tr>
		    <th class="col-sm-2">UIN</th>
		    <th class="col-sm-2">Name</th> 
		    <th class="col-sm-1">Needs Ride</th>
		    <th class="col-sm-1">Officer</th>
		    <th class="col-sm-8">Comment</th>
		  </tr>
		  </thead>
			<% @attendees.each do |attendee| %>
			    <% if attendee[:active_record].wait_listed==true %>
    				<tr>
    				   <td> <%= attendee[:attendee].UIN %> </td>
    				    <td> <%= attendee[:attendee].name %> </td>
    				    <td>
	    				    <% if attendee[:active_record].car_ride %>
	                  			<span class="glyphicon glyphicon-ok" style="color: green;"></span>
	                		<% end %>
                		</td>
    				    <td>
	    				    <% if attendee[:attendee].officer %>
	                  			<span class="glyphicon glyphicon-ok" style="color: green;"></span>
	                		<% end %>
                		</td>
    				    <td> <%= attendee[:active_record].comments %> </td>
    				  </tr>
				 <% end %>
			<% end %>
		</table>
	</div>
</div>
<div class="footer"/>