<!DOCTYPE html>
<html>
  <head>
    <title>AggieRotaract</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'bootstrap.min.css' %>
    <!--<link rel="stylesheet" href="/app/assets/stylesheets/bootstrap.min.css">-->
    
    <!--<link rel="stylesheet" href="/app/assets/javascripts/bootstrap.min.js">-->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'bootstrap.min.js' %>
    
  </head>

  <body>
   <!-- Nav Bar -->
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded navbar-fixed-top">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Image or text to get back to "home page" -->
      <a class="navbar-brand" href="#">Aggie Rotaract</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Dashboard</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/events">Upcoming Events</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Points</a>
          </li>
          <!--NOTE: This would have to only be displayed if admin is logged in, ORRRR do we just put this pages purpose in the "points"
                    page, that would make it easier in developing this page and keeping it simple
          <li class="nav-item">
            <a class="nav-link" href="#">Approve Points????</a>
          </li>
          -->
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
        <ul class="nav pull-right nav-item-log-out">
            <button class="btn">Log Out</button>
        </ul>
        
      </div>
    </nav>
    
    <!--Views are placed here-->
    <div class="body-content">
      <%= yield %>
    </div>
  </body>
</html>
